
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link href="~/Content/css/ProductList.css" rel="stylesheet" />
<link href="~/Content/css/About.css" rel="stylesheet" />


<section id="page-header" class="about-header">

    <h2>#Let's_talk'</h2>
    <p>
        Hãy để lại tin nhắn, chúng tôi rất mong nhận được phản hồi từ bạn!
    </p>

</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>THÔNG TIN LIÊN LẠC</span>
        <h2>Ghé thăm một trong những đại lý của chúng tôi hoặc liên hệ với chúng tôi ngay hôm nay</h2>
        <h3>Trụ sở chính</h3>
        <div>
            <ul>
                <li>
                    <i class="fa-regular fa-map"></i>
                    <p>số nhà 111, đường 11, huyện Tân Phong, quận 7, TP.HCM</p>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <p>kantoshop@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>077 12234 5678 / 0909 876 557</p>
                </li>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>08:00 - 18:00, Thứ hai - Thứ bảy</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7839.909771362718!2d106.7017546896179!3d10.737960558976651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f0e524bf62d%3A0x6a078c0cf9caec26!2zQ8O0bmcgVHkgROG7i2NoIFbhu6UgQuG6o28gVuG7hyBW4buHIFPEqSBMb25nIFTDom4!5e0!3m2!1sen!2s!4v1731929139467!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>


<section id="form-details">
    <form action="">
        <span>HÃY ĐỂ LẠI LỜI NHẮN</span>
        <h2>chúng tôi rất mong nhận được phản hồi từ bạn!</h2>
        <input type="text" placeholder="Tên của bạn" />
        <input type="text" placeholder="E-mail" />
        <input type="text" placeholder="Chủ đề" />
        <textarea name="" id="" cols="30" rows="10" placeholder="Phản hồi của bạn"></textarea>
        <button class="normal">Gửi</button>
    </form>

    <div class="people">
        <div>
            <img src="~/Content/images/1.png" alt="" />
            <p><span>Ôn Hạo Chương</span> Senior marketing manager <br> Số điện thoại: 091 2938 98 <br>Email: haochuong@gmail.com</p>
        </div>
        <div>
            <img src="~/Content/images/2.png" alt="" />
            <p><span>Diệp Dương Cảnh</span> Senior marketing manager <br> Số điện thoại: 0776692399 <br>Email: diepduongcanh205@gmail.com</p>
        </div>
    </div>
</section>