* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#section-p1 {
    margin: 40px 80px;
}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#page-header.about-header{
    width: 100%;
    height: 20vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.about-header {
    background-image: url('../images/bannerabout.jpg');
}

#page-header h2, #page-header p {
    color: #ffffff;
}

#about-head{
    margin-top:50px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
    #about-head img {

        width: 50%;
        height: auto;
    }
#about-head div{
    padding-left:40px;
}

#about-app {
    padding-top: 20px;
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;

}
    #about-app .video video{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    #about-app a {
        color: #9a17cf;
        text-decoration: none;
    }

#feature{
    padding-top: 50px;
}

/*contact*/
#contact-details{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
    #contact-details .details span, #form-details form span{
    font-size: 12px;
}
    #contact-details .details h2, #form-details form h2{
        font-size: 26px;
        line-height: 35px;
        padding: 20px 0;
    }
    #contact-details .details h3 {
        font-size: 16px;
        padding-bottom: 15px ;
    }
    #contact-details .details li {
        list-style: none;
        display: flex;
        padding: 10px 0;
    }
    #contact-details .details li i{
        font-size: 14px;
        padding-right: 22px;
    }
    #contact-details .details li p{
        margin: 0;
        font-size:14px;
    }

    #contact-details .map {
        width:55%;
        height: 400px;
    }
    #contact-details .map iframe{
        width: 100%;
        height: 100%;
    }



#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    #form-details form input, #form-details form textarea {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }
        #form-details form button{
            background-color: #088178;
            color: #ffffff;
        }
        #form-details .people div{
            padding-bottom: 25px;
            display: flex;
            align-items: flex-start;
        }
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit:cover;
    margin-right: 15px;
}
            #form-details .people div p {
                margin:0;
                font-size:13px;
                line-height:25px;
            }
            #form-details .people div p span{
                display: block;
                font-size: 16px;
                font-weight: 600;
                color: #000000;
            }





        @media(max-width: 799px) {
            #about-head {
            flex-direction: column;
             }

            #about-head img {
                width: 100%;
                margin-bottom: 20px;
            }

            #about-head div {
                padding-left: 0;
            }

        #about-app .video {
            width: 100%;
        }


            #form-details {
                padding: 25px;
            }
            #form-details form{
                width: 45%;
            }
            #contact-details {
                padding: 27px;
            }
    }

    @media(max-width: 477px) {
        #about-head {
            flex-direction: column;
        }

            #about-head img {
                width: 100%;
                margin-bottom: 20px;
            }

            #about-head div {
                padding-left: 0;
            }

        #about-app .video {
            width: 100%;
        }

        #contact-details {
            flex-direction: column;
        }
        #contact-details .details{
            width:100%;
            margin-bottom: 30px;
        }
            #contact-details .map {
                width: 100%;

            }

            #form-details{
                margin:10px;
                padding: 30px 10px;
                flex-wrap:wrap;
            }
        #form-details form {
            width: 100%;
            margin-bottom: 30px;
        }

    }

