/* Mobile Responsive */
@media(max-width: 768px) {
    #register {
        padding: 30px;
    }

        #register h2 {
            font-size: 28px !important;
        }

    .form-group input {
        font-size: 14px !important;
        padding: 12px !important;
    }

    button.normal {
        font-size: 16px !important;
        padding: 14px !important;
    }

    .social-buttons a {
        font-size: 14px !important;
        padding: 10px !important;
    }
}
